body{
    background-color: rgb(25, 6, 94);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    
}



.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  padding: 15px 0;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(10, 25, 47, 0.4);
  backdrop-filter: blur(10px);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.logo{
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 100%;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 100%;
  margin-left: 30px;
}

.navbar a:hover {
  color: gray;
}


main{
    background-image: url("./pictures/b1.png");
    background-size: cover;
    padding: 20%;


}

main h1{
    font-size: 300%;
    margin-bottom: 0px;
}
main h2{
    color: white;
    margin-top: 0px;
    font-size: 160%;
}


footer{

    padding: 20%;

}

