body{
    background-color: gray;
}

header{
    
}

.navbar {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  background: #111;
  padding: 30px 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  margin-left: 20px;
}

.navbar a:hover {
  color: blue;
}


main{
    background-color: red;
}

footer{
    background-color: yellow;
}
